body{
    font-family: 'Roboto', sans-serif;
}
button, input, select, textarea, .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
}
button, button:focus{
    outline: none !important;
}
:focus{
    outline: none !important;
}
::-webkit-input-placeholder { /* Edge */
  color: #00a99d;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #00a99d;
}
::placeholder {
  color: #00a99d;
}
.checkbox label:after, 
.radio label:after {
    content: '';
    display: table;
    clear: both;
}
.checkbox .cr,
.radio .cr {
    position: relative;
    display: inline-block;
    border: 1px solid #a9a9a9;
    border-radius: .25em;
    width: 1.4em;
    height: 1.4em;
    float: left;
    margin-right: .5em;
}
.radio .cr {
    border-radius: 50%;
}
.checkbox .cr .cr-icon,
.radio .cr .cr-icon {
    position: absolute;
    font-size: .8em;
    line-height: 0;
    top: 50%;
    left: 20%;
}
.radio .cr .cr-icon {
    margin-left: 0.04em;
}
.checkbox label input[type="checkbox"],
.radio label input[type="radio"] {
    display: none;
}
.checkbox label input[type="checkbox"] + .cr > .cr-icon,
.radio label input[type="radio"] + .cr > .cr-icon {
    transform: scale(3) rotateZ(-20deg);
    opacity: 0;
    transition: all .3s ease-in;
}
.checkbox label input[type="checkbox"]:checked + .cr > .cr-icon,
.radio label input[type="radio"]:checked + .cr > .cr-icon {
    transform: scale(1) rotateZ(0deg);
    opacity: 1;
}
.checkbox label input[type="checkbox"]:disabled + .cr,
.radio label input[type="radio"]:disabled + .cr {
    opacity: .5;
}
input{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
}
input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}
ul{
	margin:0px;
	padding:0px;
}
ul li {
    list-style: none;
}
a{
    cursor: pointer;
	text-decoration:none;
	-webkit-transition: ease 0.8s; 
    transition: ease 0.8s;
	-o-transition: ease 0.8s; 
}
a:hover, a.btn-status:hover{
	text-decoration:none;
	color: #e6b443;
}
a:focus {
    outline: none;
    outline-offset: unset;
}
img{
	max-width:100%;
}
.clearfix{
    clear: both;
}
.pd-0{
    padding: 0;
}
.navbar-inverse {
    text-align: right;
    float: right;
}
.navbar-inverse .navbar-nav>li>a {
    color: #fff;
    padding: 3px 0 0 25px;
}
ul.navbar-nav li{
    -webkit-transition: ease 0.8s; 
    transition: ease 0.8s;
    -o-transition: ease 0.8s; 
}
ul.navbar-nav li a{
    color:#fff;
}
ul.navbar-nav li a:hover{
}
.navbar-brand{
    display: none;
}
.navbar-inverse .navbar-nav>li>a:hover{
    color: #135082;
}
.fa-globe {
    font-size: 20px;
    top: 2px;
    position: relative;
    padding-left: 2px;
}
.align-img{
    vertical-align: text-top;
}
ul.dropdown-menu li {
    padding: 3px 0;
}
li.home {
    padding-right: 55px;
}
li.profile a {
    background: url(../images/profile.png) no-repeat 17px 3px;
    padding-left: 40px;
}
li.verify a {
    background: url(../images/security1.png) no-repeat 17px 3px;
    padding-left: 40px;
}
li.setting a {
    background: url(../images/setting1.png) no-repeat 17px 3px;
    padding-left: 40px;
}
li.logout a {
    background: url(../images/logout.png) no-repeat 17px 3px;
    padding-left: 40px;
}
.wrapper{
    background: #01010d url(../images/bg.jpg) repeat-y top center;
}
.sidebar {
    background: #00092c;
    padding: 5px 10px 15px;
    border: 1px solid #00688B;
    border-radius: 5px;
    box-shadow: inset -3px -3px 2px 2px #00092c;
}
ul.menu-sidebar li {
    border-bottom: 1px solid #00688B;
    padding: 20px 0 18px 0;
}
ul.menu-sidebar li a img {
    display: inline-block;
    padding-right: 8px;
    vertical-align: sub;
}
ul.menu-sidebar li a{
    color: #fff;
}
.banner {
    background: rgb(19 80 130 / 0.9);
    min-height: 100px;
    border-radius: 5px;
    margin-bottom: 20px;
    width: 100%;
}
.box-info {
    width: 49%;
    height: 105px;
    background: rgb(0 9 43 / 0.9);
    border: 1px solid #00688B;
    border-radius: 12px;
    padding: 10px 16px;
    float: left;
    margin-bottom: 10px;
}
.box-info:nth-child(2n) {
    float: right;
}
.title-box-info {
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    display: block;
    
    width: fit-content;
    padding-bottom: 5px;
}
.line-money1 {
    font-size: 20px;
    font-weight: 700;
    color: #e6b443;
    margin: 2px ;
    border-top: 1px solid;
    display: block;
}

.line-money {
    font-size: 20px;
    font-weight: 700;
    color: #e6b443;
    margin: 2px 0;
    width: fit-content;
    border-top: 1px solid;
    padding-top: 5px;
}
.line-money img {
    vertical-align: text-top;
    position: relative;
    top: 1px;
}
.box-add {
    width: 99%;
    height: 150px;
    background: rgb(0 9 43 / 0.9);
    border: 1px solid #0a2f5a;
    border-radius: 12px;
    float: right;
    text-align: center;
    margin-top: 30px;
}
a.btn-add {
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    background: url(../images/add.png) no-repeat 28px 6px;
    text-align: left;
    display: block;
    padding-left: 37%;
    margin-top: 24%;
}

.fLeft {
    float: left;
}
.fRight {
    float: right;
}
.c-yellow {
    color: #e6b443;
}

header {
    height: 72px;
    background: #00082c;
}
.logo {
    padding-top: 8px;
}
.info-top {
    color: #fff;
    text-align: center;
    margin-top: 8px;
    background: url(../images/line.jpg) repeat-x bottom left;
    padding-bottom: 13px;
}
.box-left{
    width: 36.3%;
    float: left;
}
.w120 {
    width: 120px;
}
.w150 {
    width: 150px;
}
.w170 {
    width: 170px;
}
.w200 {
    width: 200px;
}
.w220 {
    width: 220px;
}
h3.title-box {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    padding-left: 10px;
    margin-top: 0;
    margin-bottom: 6px;
}
.box-market {
    width: 100%;
    background: rgb(0 9 43 / 0.9);
    border: 1px solid #00688B;
    border-radius: 12px;
    padding: 10px 16px;
    float: left;
    margin-bottom: 10px;
    padding-bottom: 16px;
    max-height: 260px;
}
.box-marke1t {
    width: 100%;
    background: rgb(0 9 43 / 0.9);
    border: 1px solid #00688B;
    border-radius: 12px;
    padding: 10px 16px;
    float: left;
    margin-bottom: 10px;
    padding-bottom: 16px;
    
}
.textLeft{
    text-align: center !important;
}
.textRight{
    text-align: right !important;
}
.textCenter{
    text-align: center !important;
}
.c-gray {
    color: #00a99d;
}
.underline {
    text-decoration: underline;
}
table {
    width: 100%;
}
thead {
    border-bottom: 1px solid #002b44;
    text-align: center;
}
thead td {
    font-size: 15px;
    color: #fff;
    font-weight: 500;
    padding: 6px 0 10px;
}
tbody{
    text-align: center;
}
tbody td {
    font-size: 14px;
    color: #fff;
    padding: 10px 0;
}
.icon-money {
    vertical-align: text-top;
    padding-right: 2px;
    margin-right: 2px !important;
    max-width: 20px;
}
.box-right {
    width: 62.2%;
    float: right;
}
.td-btn {
    font-size: 12px;
    color: #00a99d;
}
.table-responsive {
   border: 0;
}
.img-qrcode {
    width: 100%;
    text-align: center;
    padding-top: 10px;
}
.link-qrcode {
    background: #000a2e;
    color: #00a99d;
    border: 1px solid #00688B;
    border-radius: 10px;
    padding: 10px 10px;
    width: 90%;
    margin-top: 35px;
    font-size: 12px;
}
a.copytext {
    margin-top: 5px;
    cursor: copy;
}
footer {
    background: rgb(0 1 12 / 0.8);
    padding: 35px 0;
    color: #fff;
    font-weight: 100;
    font-size: 13px;
    text-align: justify;
}
.box-footer-1 {
    padding-top: 35px;
}
.box-footer-1 a img {
    display: block;
    margin-bottom: 25px;
}
.menu-mobile{
    display: none;
}
.mfp-close {
    cursor: pointer;
    outline: none;
    z-index: 1046;
    box-shadow: none;
    position: fixed;
    top: -50px;
    left: 0;
    z-index: 99;
    text-decoration: none;
    text-align: center;
    opacity: 1;
    padding: 0;
    mix-blend-mode: difference;
    margin: 0 !important;
    color: #fffafa;
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    min-height: 0;
    width: 40px;
    -webkit-backface-visibility: hidden;
    height: 40px;
    line-height: 40px;
    font-family: Arial, monospace;
    transition: opacity .6s, transform .6s;
    transform: translateY(0%) translateZ(1px);
    background: transparent;
    border: none;
    transition: all .3s ease-in;
}
.bg-menu {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1042;
    overflow: hidden;
    position: fixed;
    background: #0b0b0be0;
    opacity: 0;
    transition: opacity .25s;
    z-index: 9;
    display: none;
}
ul.menu-footer li a {
    color: #fff;
    font-size: 13px;
    display: block;
    margin: 10px 0;
}
.box-footer-2 {
    padding-top: 15px;
}
footer h3 {
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 18px;
}
ul.list-policy li {
    display: inline-block;
    width: 45%;
    margin-top: 30px;
}
ul.list-policy li a{
    color: #fff;
    font-size: 13px;
}
.list-social {
    width: 100%;
    text-align: right;
    margin-top: 25px;
}
.list-social a {
    display: inline-block;
    margin-left: 8px;
}
.inner-content {
    padding-bottom: 22px;
}
footer a:hover, .menu-sidebar a:hover {
    color: #e6b443 !important;
}

.box-transparent {
    color: #fff;
    margin-top: 30px;
}
.plr-5p {
    padding: 0 6% 0 1%;
}
.pl-8 {
    padding-left: 8px;
}
.pl-5p {
    padding-left: 5%;
}
.pl-8p {
    padding-left: 8%;
}
.pl-12 {
    padding-left: 12px;
}
.pl-15 {
    padding-left: 15px !important;
}
.pl-18 {
    padding-left: 18px !important;
}
.pl-30 {
    padding-left: 30px;
}
.pl-32 {
    padding-left: 32px;
}
.pl-22px{
    padding-left: 22px;
}
.pl-25px{
    padding-left: 22px;
}
.pr-38px{
    padding-right: 38px;
}
.pr-8px{
    padding-right: 8px;
}
.w80 {
    width: 80%;
}
.mt-0{
    margin-top: 0;
}
.mt-5{
    margin-top: 5px;
}
.ml-30 {
    margin-left: 15%;
}
.item-money {
    padding: 0px 10px 2px;
    border-radius: 10px;
    margin: 0px 5px 0 0;
    display: inline-block;
    color: #fff;
    border: 1px solid transparent;
}
.item-money:hover, .item-money:focus, .item-money:active, .item-money.active {
    border: 1px solid #005e68;
    color: #00a99d;
    background: #00092c;
}
.box-link {
    width: calc(100% - 85px);
    float: left;
    margin-top: 45px;
}
.box-qrcode-2 {
    float: right;
}
img.img-qr2 {
    float: right;
    background: #fff;
    border-radius: 10px;
    margin-top: 9px;
}
.mt-25{
    margin-top: 25px;
}
.mt-10{
    margin-top: 10px;
}
.text-wallet{
    font-weight: 500 !important;
}
.box-text {
    width: 100%;
    background: rgb(0 9 43 / 0.9);
    border: 1px solid #0a2f5a;
    border-radius: 12px;
    padding: 10px 16px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    color: #fff;
}
tr.inline-table {
    width: 100%;
    display: inline-table;
    table-layout: fixed;
}
table.table-scroll{
     height:230px; 
     display: -moz-groupbox;
}
tbody.tbody-scroll{
    overflow-y: scroll;
    height: 190px;
    width: 94.6%;
    position: absolute;
}
.style-scroll::-webkit-scrollbar-track, .scroll-all-table::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 12px;
}
.style-scroll::-webkit-scrollbar, .scroll-all-table::-webkit-scrollbar {
    width: 10px;
    background-color: transparent;
    border-radius: 12px;
}
.style-scroll::-webkit-scrollbar-thumb, .scroll-all-table::-webkit-scrollbar-thumb {
    border-radius: 12px;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.44, #135082), color-stop(0.72, #135082), color-stop(0.86, #135082));
}
.h-215 {
    height: 215px !important;
}
.box-filter{
    margin: 0 auto;
}
input.ifilter {
    width: 130px;
    border: 1px solid #006981;
    padding: 5px 10px 3px;
    color: #fff;
    outline: none;
    border-radius: 15px;
    text-align: right;
    padding-right: 25px;
    background: transparent url('../images/dropdown.png') no-repeat 93% 12px;
}
.box-filter {
    margin: 6px auto 12px;
    color: #fff;
}
.box-filter {
    margin: 6px auto 12px;
    color: #fff;
    font-weight: 500;
}
.box-filter span{
    display: inline-block;
}
input.btn-apply {
    background: #135082;
    border: 1px solid #006981;
    padding: 5px 30px;
    color: #fff;
    outline: none;
    border-radius: 15px;
}
.w115{
    width: 100px;
}
.w60{
    width: 60px;
}
.w150{
    width: 150px;
}
.ws100 {
    display: inline;
}
.box-col-3{
    width: 100%;
    background: rgb(0 9 43 / 0.9);
    border: 1px solid #0a2f5a;
    border-radius: 12px;
    padding: 10px 16px;
    margin-top: 25px;
    margin-bottom: 10px;
    padding-bottom: 10px; 
    color: #fff;
}
.box-col-3 p:first-child {
    margin: 10px 0 30px;
}
.box-col-3 span {
    display: inline-block;
    width: 45%;
}
.box-col-3 span:nth-child(2n) {
    width: 35%;
}
.box-col-3 span:nth-child(3n) {
    width: 20%;
}
.box-withdraw {
    position: relative;
}
.box-withdraw p, .box-withdraw input {
    color: #fff;
    font-size: 16px;
}
.box-withdraw p {
    margin: 0 0 5px 0;
    padding-left: 10px;
}
.box-withdraw input {
    margin-bottom: 20px;
}
.w93 {
    width: 93% !important;
}
.text-max {
    position: absolute;
    top: 37px;
    right: 15px;
    z-index: 99;
    color: #00a99d;
    font-size: 16px;
}
.f16{
    font-size: 16px;
}
.f18{
    font-size: 18px;
}
.mh-265{
    max-height: 290px;
}
.my-balance {
    width: 100%;
    display: block;
    padding-left: 22px;
    margin-top: 6px;
    font-size: 16px;
}
.dataTables_filter, .dataTables_length, .dataTables_info {
    display: none;
}
.devide-50 {
    height: 30px;
    float: left;
    width: 100%;
}
.dataTables_paginate {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 95%;
    z-index: 99;
}
div#table-pagination_wrapper .dataTables_paginate {
    bottom: 20px;
}
.mb-55 {
    margin-bottom: 55px;
}
.pr-15 {
    padding-right: 15px;
}
.dataTables_paginate a {
    display: inline-block;
    margin: 0 5px;
    font-size: 16px;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
}
.paginate_button.current {
    color: #00a99d;
    text-decoration: underline;
}
.box-item {
    width: 100%;
    background: rgb(0 9 43 / 0.9);
    border: 1px solid #0a2f5a;
    border-radius: 12px;
    padding: 10px 16px;
    float: left;    
    margin-bottom: 10px;
}
.other-page{
    height: 165px;
    margin-top: 2px;
}
.other-page .btn-add {
    margin-top: 28%;
}
.box{
    width: 100%;
    background: rgb(0 9 43 / 0.9);
    border: 1px solid #00688B;
    border-radius: 12px;
    padding: 10px 16px;
    float: left;
}
.pd-box {
    padding: 33.8px 20px;
}
.img-dalko {
    width: 100px;
}
.info-profit {
    width: calc(100% - 120px);
    color: #fff;
    font-weight: 700;
    font-size: 18px;
}
.textvalue {
    font-size: 14px;
    display: inline-block;
    float: right;
    margin-top: 4px;
}
.info-profit p {
    padding-top: 8px;
}
.info-profit p:first-child {
    margin-bottom: 22px;
}
.label-popup {
    display: inline-block;
    width: 45%;
    float: left;
    margin-top: 8px;
}
.value-popup {
    width: 55%;
    float: right;
    position: relative;
}
.label-popup-large {
    display: inline-block;
    width: 100px;
    float: left;
    margin-top: 8px;
}
.value-popup-large {
    width: calc(100% - 115px);
    float: right;
    position: relative;
    overflow: hidden;
    margin-top: 5px;
}
.value-popup input, .value-popup-sm input, .value-popup-sm2 input, a.option-input, .input-code {
    background: rgb(0 9 43 / 0.9);
    border: 1px solid #00688B;
    border-radius: 12px;
    padding: 7px 15px 5px;
    width: 100%;
    text-align: right;
    display: block;
}
.value-popup-large input {
    background: rgb(0 9 43 / 0.9);
    border: 1px solid #00688B;
    border-radius: 12px;
    padding: 7px 15px 5px;
    width: 100%;
    text-align: center;
    display: block;
}
a.option-input {
    color: #00a99d;
    padding-right: 30px;
    background: transparent url('../images/dropdown.png') no-repeat 95% 14px;
}
.row-popup {
    width: 100%;
    float: left;
    margin-bottom: 10px;
}
.option-input img, .area-popup img {
    float: left;
    margin: -1px;
}
.area-popup .img-popup {
    display: inline-block;
    width: 62%;
}
.area-popup {
    position: absolute;
    z-index: 99;
    background: #00092c;
    width: 100%;
    padding: 15px;
    border: 1px solid #00688B;
    border-radius: 12px;
    top: 37px;
    display: none;
}
.area-popup p{
    cursor: pointer;
}
.area-popup p:hover{
    color: #00a99d;
}
.btn-popup, .btn-default {
    background-color: rgb(0 9 43 / 0.9);
    border: 1px solid #00688B;
    border-radius: 12px;
    padding: 5px 25px;
    color: #fff;
}
a.btn-max {
    background-color: #04173d;
    border: 1px solid #00688B;
    border-radius: 12px;
    padding: 3px 20px;
    color: #fff;
    display: inline-block;
    margin-top: 5px;
    float: right;
}
.no-img p {
    padding-left: 60%;
}

.box-checkbox {
    display: block;
    position: absolute;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    top: 24px;
    right: 5px;
}
.box-checkbox input[type=checkbox], input[type=radio] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 18px;
    width: 18px;
    background-color: #135082;
}
.box-checkbox:hover input ~ .checkmark {
    background-color: #135082;
}
.box-checkbox input:checked ~ .checkmark {
    background-color: #135082;
}
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.box-checkbox input:checked ~ .checkmark:after {
    display: block;
}
.box-checkbox .checkmark:after {
    left: 6px;
    top: 3px;
    width: 7px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.box-terms {
    position: relative;
    padding-left: 35px;
}
label.terms {
    font-weight: 300;
    display: inline-block;
    width: 80%;
    font-size: 13px;
    margin: 10px auto 0;
}
.txt-popup{
    margin-top: 8px;
}
.box-status {
    padding: 30px 20px 10px;
}
.box-status p {
    margin-bottom: 20px;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    display: inline-block;
    width: 48%;
}
.box-status p span {
    color: #00a99d;
    padding-left: 5px;
}
label.tw-100 {
    font-weight: 700;
    width: 90px;
}
label.tw-80 {
    font-weight: 700;
    width: 90px;
}
.item {
    display: block;
    width: 100%;
    float: left;
}
.item:first-child{
    margin-bottom: 20px;
}
.gift {
    margin-top: 40px;
}
.box-exchange {
    padding: 20px 30px 20px 15px;
}
.box-exchange p:first-child {
    margin-bottom: 0;
}
.box-exchange p {
    padding-top: 8px;
    width: 100%;
}
.img-exchange {
    width: 70px;
}
.info-exchange {
    width: calc(100% - 90px);
    color: #fff;
    font-weight: 700;
    font-size: 18px;
}
.content-exchange {
    color: #fff;
    font-size: 14px;
    padding: 1% 2%;
}
.content-exchange label {
    font-weight: normal;
    display: inline-block;
    width: 130px;
    float: left;
    margin: 0;
}
.value-exchange{
    display: inline-block;
    width: calc(100% - 135px);
    float: left;
}
.row-exchange {
    float: left;
    width: 100%;
    margin: 10px 0;
}
.value-exchange img {
    vertical-align: text-top;
    margin-right: 5px;
}
input.input-exchange {
    background: rgb(0 9 43 / 0.9);
    border: 1px solid #0a2f5a;
    border-radius: 12px;
    padding: 7px 15px 5px;
    width: 30%;
    text-align: center;
    display: inline-block;
    font-size: 14px;
}
span.convert {
    display: inline-block;
    margin: 0 20px;
    font-size: 18px;
    font-weight: bold;
}
span.convert img {
    vertical-align: baseline;
}
.fee{
    width: 30%;
    display: block;
}
.box-btnb {
    padding: 20px 0;
    float: left;
    text-align: center;
    width: 100%;
}
a.btn-transfer {
    display: block;
    width: 100%;
    text-align: center;
    padding: 39px 0;
}
.w500 {
    width: 500px;
}
.w85 {
    width: 85%;
}
.qrcode-small {
    position: absolute;
    top: 22%;
    right: -10px;
    border: 1px solid #0a2f5a;
    border-radius: 12px;
    padding: 6px;
}
.title-full {
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    display: block;
    border-bottom: 1px solid #061e45;
    width: 100%;
    padding-bottom: 5px;
    margin: 0 0 6px 0;
}
.pd-15{
    padding: 15px;
}
a.btn-status {
    background-color: rgb(0 9 43 / 0.9);
    border: 1px solid #0a2f5a;
    border-radius: 12px;
    padding: 10px 20px;
    color: #00a99d;
    font-size: 16px;
    font-weight: bold;
}
.row-btn {
    float: left;
    width: 100%;
    margin-top: 35px;
    margin-bottom: 20px;
}
.row-btn-commission {
    width: 100%;
    float: left;
    margin-top: 5px;
}
.h-auto{
    height: auto;
}
.w100{
    width: 100%;
}
.w100px{
    width: 100px;
}
.pr-0{
    padding-right: 0;
}
.pl-0{
    padding-left: 0px;
}
.pl-01{
    padding-left: 10px;
}
.btn-right{
    float: right;
    width: 100%;
    display: block;
    padding: 5px 25px !important;
    margin: 2px 0px;
}
.bold {
    font-weight: bold;
}
.c-white {
    color: #fff;
}
.mg-0 {
    margin: 0;
}
.mt-8 {
    margin-top: 8px;
}
.part-link {
    position: relative;
}
.part-link-1 {
    width: 105px;
    position: absolute;
    right: 0;
    top: 0;
}
.part-link-2 {
    position: relative;
    width: 100%;
    bottom: -80px;
    height: 60px;
    left: 0;
}
.part-link-3 {
    position: relative;
    width: 100%;
    bottom: -50px;
    height: 60px;
    left: 0;
}
.blight{
    border: 1px solid #0a2f5a;
}
.part-link-1 {
    width: 105px;
    position: absolute;
    right: 50px;
    top: -10px;
}
span.rate {
    display: inline-block;
    margin: 0 10%;
}
.genealogy a {
    color: #00a99d;
    font-weight: 500;
    margin: 0 10%;
    text-decoration: underline;
}
.genealogy label {
    color: #fff;
    padding: 0;
    margin: 6px;
    display: inline-block;
    margin-right: 8%;
}
.pd-20 {
    padding: 20px;
}
a.btn-security {
    display: inline-block;
    width: 46%;
    font-size: 16px;
    color: #00a99d;
    font-weight: 500;
    margin: 10px 3px;
}
.title-security{
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    display: block;
    border-bottom: 1px solid #061e45;
    width: 100%;
    padding-bottom: 10px;
    margin: 0 0 12px 0;
}
input.input-security {
    background: rgb(0 9 43 / 0.9);
    border: 1px solid #00688B;
    border-radius: 12px;
    padding: 7px 15px 5px;
    width: 100%;
    text-align: center;
    display: block;
    color: #fff;
}
.title-wide {
    display: inline-block;
    width: 155px;
    color: #fff;
    float: left;
    margin-top: 8px;
}
.value-wide {
    width: calc(100% - 165px);
    float: right;
    display: inline-block;
    position: relative;
}
.row-security {
    float: left;
    width: 97%;
    margin: 5px 0;
}
a.option-input.textCenter {
    text-align: center;
    color: #e6b443;
}
.label-popup-sm {
    display: inline-block;
    width: 68px;
    float: left;
    margin-top: 8px;
    color: #fff;
}
.value-popup-sm {
    width: calc(100% - 70px);
    float: right;
    position: relative;
    overflow: hidden;
}
.txt-value{
    color: #00a99d;
    font-size: 12px;
    text-align: center;
    margin: 15px 0 10px 0;
}
label{
    font-weight: normal;
}
.value-popup-sm2 {
    width: calc(100% - 95px);
    float: right;
    position: relative;
    overflow: hidden;
    color: #fff;
}
.box-secLeft {
    width: 60%;
    float: left;
}
.box-secRight {
    width: 36%;
    float: right;
    color: #fff;
    padding-top: 5px;
}
.mb-20{
    margin-bottom: 20px;
}
.box-secRight p{
    cursor: pointer;
}
span.labelr {
    display: inline-block;
    width: 50px;
    color: #00a99d;
    font-size: 14px;
    text-decoration: underline;
}
span.valuer {
    color: #135082;
    width: 100px;
    display: inline-block;
}
span.valuer a {
    color: #d7d7d7;
    font-size: 9px;
    display: inline-block;
    margin-left: 3px;
}
.checkbox-setting input[type=checkbox], input[type=radio] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.checkitem {
    position: absolute;
    top: 0;
    left: 0;
    height: 18px;
    width: 18px;
    background-color: rgb(0 9 43 / 0.9);
    border-radius: 3px;
    border: 1px solid #0a2f5a;
}
.checkbox-setting:hover input ~ .checkitem, .checkbox-sm:hover input ~ .checkitem {
    background-color: rgb(0 9 43 / 0.9);
    border: 1px solid #0a2f5a;
}
.checkbox-setting input:checked ~ .checkitem, .checkbox-sm input:checked ~ .checkitem {
    background-color: rgb(0 9 43 / 0.9);
    border: 1px solid #0a2f5a;
}
.checkitem:after {
    content: "";
    position: absolute;
    display: none;
}
.checkbox-setting input:checked ~ .checkitem:after, .checkbox-sm input:checked ~ .checkitem:after {
    display: block;
}
.checkbox-setting .checkitem:after, .checkbox-sm .checkitem:after{
    left: 5px;
    top: 0.5px;
    width: 6px;
    height: 11px;
    border: solid #00a99d;
    border-width: 0 1px 1px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.item-checkbox {
    display: inline-block;
    width: 49%;
    color: #fff;
    margin: 8px 0;
    position: relative;
}
.checkbox-setting {
    position: absolute;
    left: 75%;
}
.item-checkbox:nth-child(2n) .checkbox-setting {
    left: 90%;
}
.box-profile {
    padding: 15px 20px 20px 25px;
    color: #fff;
}
.item-profile {
    display: block;
    width: 100%;
    margin-bottom: 20px;
}
.item-profile label {
    display: inline-block;
    width: 20%;
}
span.iprofile {
    display: inline-block;
    width: 70%;
}
span.status-profile {
    display: inline-block;
    width: 9%;
    text-align: center;
    float: right;
}
span.iprofile input {
    background: transparent;
    border: none;
    width: auto;
    border-radius: 0;
}
span.iprofile input:focus {
    border-bottom: 1px solid #0a2f5a;
}
.mb-8 {
    margin-bottom: 8px;
}
span.status-profile a {
    color: #00a99e;
}
.pt-0{
    padding-top: 0;
}
.box-filter-sm .item-checkbox {
    width: 130px;
}
label.checkbox-sm {
    position: relative;
    margin-left: 5px;
}
.box-filter-sm {
    padding-left: 14%;
}
.mh-365{
    max-height: 365px;
}
.w288{
    width: 288%;
}
.w60px {
    width: 60px;
}
.table-style tbody tr td {
    padding: 10px;
}
.bl-table{
    border-left: 1px solid #002b44;
}
.scroll-all-table {
    position: relative;
    overflow-y: scroll;
    height: 400px;
    top: 0;
    left: 0;
    width: 102%;
}
td.pt-15 {
    padding-top: 15px;
}
#wrapper::-webkit-scrollbar, .scroll-all-table::-webkit-scrollbar {
    height: 9px;
    width: 9px;
}
::-webkit-scrollbar-corner {
    background-color: transparent;
}
.box-sm p {
    margin: 10px 0 2px;
}
.pr-40{
    padding-right: 40px;
}
.w33p{
    width: 33.33333%;
}
.w45p{
    width: 45%;
}
.w30p{
    width: 30%;
}
.w25p{
    width: 25%;
}
h3.title-box.pl-30 {
    padding-left: 30px;
}

/***tree***/
.pd-box-tree {
    padding: 20px 0 0 0px;
}
.mih-200{
    min-height: 200px;
    max-height: 600px;

}
#wrapper {
    position: relative;
    overflow: auto;
}
.branch-blank {
    position: relative;
    margin-left: 400px;
}
.branch {
    position: relative;
    margin-left: 250px;
}
.branch:before {
    content: "";
    width: 50px;
    border-top: 2px solid #135082;
    position: absolute;
    left: -100px;
    top: 49%;
    margin-top: 1px;
}
.blank {
    position: relative;
    min-height: 0;
    border-left: 0;
    left: -50px;
}
.entry {
    position: relative;
    /* position: absolute; */
    min-height: 60px;
}
.entry:before {
    content: "";
    height: 100%;
    border-left: 2px solid #135082;
    position: absolute;
    left: -50px;
}
.entry:after {
    content: "";
    width: 50px;
    border-top: 2px solid #135082;
    position: absolute;
    left: -50px;
    top: 51%;
    margin-top: 1px;
}
.entry:first-child:before {
    width: 10px;
    height: 50%;
    top: 51%;
    margin-top: 2px;
    border-radius: 0;
}
.entry:first-child:after {
    height: 10px;
    border-radius: 0;
    /* border: 5px solid red; */
}
.entry:first-child {
}
.special:after {
    height: 10px;
    border-radius: 0;
    border-left: 2px solid #135082;
}
.special:before {
    height: 30%;
    border-left: 2px solid #135082;
    top: 70%;
}
.entry:last-child:before {
    width: 10px;
    height: 51%;
    border-radius: 0;
}
.entry:last-child:after {
    height: 10px;
    border-top: none;
    border-bottom: 2px solid #135082;
    border-radius: 0;
    margin-top: -9px;
}
.entry.sole:before {
    display: none;
}
.entry.sole:after {
    width: 50px;
    height: 0;
    margin-top: 1px;
    border-radius: 0;
}
.entry.one-item:before {
    border-left: 0;
}
.label {
    display: block;
    min-width: 165px;
    padding: 5px 10px;
    line-height: 20px;
    text-align: left;
    padding-left: 30px;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -24px;
    transition: all .3s ease-in;
}
.bottom-button {
    display: block;
    padding: 0px;
    position: absolute;
    left: -25px;
    top: 50%;
    margin-top: -9px;
    margin-left: 35px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    color: #00a99d;
    transition: all .3s ease-in;
}
.mp {
    margin-top: 60px;
    position: absolute;
    z-index: 2;
    background: red;
}
.mp:before {
    content: "";
    width: 10px;
    border-right: 2px solid #135082;
    position: absolute;
    top: -32px;
    margin-top: 1px;
    height: 30px;
}
.hasMore .info-tree, .hasMore .info-tree .c-yellow{
    color: #00a99d !important;
}
.title {
    padding-left: 50px;
    white-space: nowrap;
}
#L100000, #L200000, #L300000 {
    top: -20px;
    position: absolute;
}
#root {
    margin-top: -6px;
}
.item-tree {
    width: 120%;
    overflow: hidden;
}
.item-tree img {
    float: left;
    max-width: 32px;
    margin-top: 3px;
}
.info-tree {
    width: calc(100% - 42px);
    /* float: right; */
    position: relative;
    cursor: pointer;
    margin-top: 5px;
}
.info-tree p {
    font-size: 12px;
    font-weight: 700;
    margin: 0;
}
.item-tree-detail {
    background: #11497a;
    padding: 12px 20px 16px;
    width: 180px;
    border-radius: 12px;
    position: absolute;
}
.item-tree-detail p {
    margin: 0;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 3px;
}
p.close-tree {
    font-size: 14px;
    font-weight: normal;
    text-align: right;
    margin: 0;
    position: relative;
    margin-bottom: 5px;
}
p.close-tree span {
    position: absolute;
    top: -8px;
    right: -9px;
    cursor: pointer;
}
.item-tree-detail {
    background: #11497a;
    padding: 12px 20px 16px;
    width: 180px;
    border-radius: 12px;
    position: absolute;
    top: 46px;
    left: -15px;
    display: none;
    transition: all .3s ease-in;
    z-index: 99;
}
.hasMore .item-tree-detail{
    display: block;
}
span.label.toggleable.no-child {
    padding-left: 10px;
}

@media (max-width: 1024px){
    .wl100{
        width: 100%;
    }
    .part-link-1 {
        right: 30px;
    }
}
@media (max-width: 768px){
    .w93 {
        width: 90% !important;
    }
    .ml-30 {
        margin-left: 0;
    }
    .mt-sm-20{
        margin-top: 20px;
    }
    span.iprofile {
        width: 65%;
    }
    .checkbox-setting {
        left: 90%;
    }
    .mmt-10{
        margin-top: 10px;
    }
    .link-qrcode {
        width: 90%;
    }
    .pr-0{
        padding-right: 15px;
    }
    .pl-0{
        padding-left: 15px;
    }
    input.input-exchange, .fee {
        width: 39%;
    }
    .box-exchange {
        margin-bottom: 10px;
    }
    .gift {
        text-align: center;
        margin: 10px 0 20px;
    }
    .box-48mb {
        width: 48%;
        float: left;
    }
    .box-48mb:nth-child(2n) {
        float: right;
    }
    .box-market {
        max-height: max-content;
    }
    .pr-38px{
        padding-right: 0px;
    }
    .mh-265 {
        max-height: 320px;
    }
    .mh-265 .tableFixHead {
        max-height: 230px;
    }
    .tab-content .table-scroll {
        height: 238px;
    }
    .mb-center{
        text-align: center;
    }
    .tableFixHead {
        max-height: 210px;
    }
    tbody.tbody-scroll {
        width: 91%;
    }
    .scroll-y{
        overflow-y: scroll;
    }
	.navbar-inverse {
        display: block;
    }
    .box-market {
        width: 49%;
    }
    .plr-5p {
        padding: 0 5%;
    }
    .wm50{
        width: 50%;
    }
    .box-left, .box-right, .wm100 {
        /* width: 100%; */
        float: none !important;
    }
    .box-add {
        height: 65px;
        margin-top: 10px;
    }
    .box-add {
        margin-bottom: 20px;
        margin-top: 10px;
    }
    a.btn-add {
        background: url(../images/add.png) no-repeat 38% 6px;
        margin-top: 1% !important;
        padding-left: 45%;
    }
    ul.list-policy li {
        width: 49%;
    }
    .img-qrcode {
        padding-top: 10px;
    }
    .link-qrcode {
        margin-top: 26px;
    }
    a.copytext {
        margin-top: 19px;
    }
    .box-filter span {
        margin: 5px 0;
    }
    .wm75 {
        width: 75px;
    }
    .wm20{
        width: 20px;
    }
    .part-link-1 {
        top: -20px;
    }
    .part-link-2 {
        height: 150px;
    }
    span.convert {
        margin: 0 10px;
    }
}
@media (max-width: 540px){
    .part-link-2 {
        height: auto;
        bottom: 18px;
    }
    .part-link-1 {
        position: unset;
        margin: 0;
    }
    .w500{
        width: 96%;
    }
    .ov-hidden{
        overflow: hidden;
    }
    .mh-265 {
        max-height: 325px;
    }
    .box-transparent{
        margin-top: 0;
    }
    .text-wallet {
        margin-top: 30px !important;
        margin-bottom: -8px !important;
    }
    .plr-5p {
        padding: 0;
    }
    .mt-mb-10{
        margin-top: 10px;
    }
    .navbar-inverse {
        top: -100px;
        right: 0;
        width: 100%;
    }
    a.logo-top {
        position: relative;
        z-index: 9;
    }
    .sidebar {
        -ms-transform: translate(0, 0);
        transform: translate(0, 0);
        opacity: 1;
    }
    .sidebar {
        position: fixed;
        top: 0;
        width: 260px;
        right: -260px;
        overflow-y: auto;
        overflow-x: hidden;
        height: 100vh;
        z-index: 999;
        transition: all .3s ease-in;
    }
    a.menu-mobile {
        display: block;
        position: absolute;
        z-index: 9;
        right: 45px;
        top: 20px;
        font-size: 25px;
        color: #fff;
    }
    button.navbar-toggle {
        font-size: 25px;
        color: #fff;
    }
    .navbar {
        height: 1px;
        min-height: 1px;
    }
    .navbar-collapse.in {
        position: fixed;
        width: 100%;
        left: 0;
        margin: 0;
        padding: 0;
        z-index: 9;
        border-top: 1px solid #525050;
        border-bottom: 1px solid #525050;
    }
    ul.nav.navbar-nav {
        width: 108%;
        background: #00082c;
        margin: 0 -30px 0;
        padding: 0px 25px 15px 29px;
        text-align: left;
    }
    li.home {
        padding-right: 0;
    }
    .navbar-nav .open .dropdown-menu>li>a{
        padding-left: 40px !important;
    }
    .navbar-nav .open .dropdown-menu {
        padding-left: 25px;
    }
    .info-top {
        margin-top: 15px;
    }
}
@media (max-width: 480px){
    .w93 {
        width: 86% !important;
    }
    .mb-8, .mm-0 {
        margin-bottom: 0;
    }
    .item-profile label {
        width: 100%;
    }
    span.iprofile {
        width: 80%;
    }
    .box-secLeft, .box-secRight {
        width: 100%;
        float: unset;
    }
    .genealogy a {
        margin: 0 5%;
    }
    input.input-exchange, .fee {
        width: 100%;
    }
    span.convert {
        width: 100%;
        text-align: center;
        margin: 0 auto;
    }
    .box-48mb {
        width: 100%;
        float: unset;
    }
    .mh-265 {
        max-height: 325px;
    }
    .ws100{
        width: 100%;
        display: block;
    }
    .txt-filter {
        width: 85px;
    }
    tbody.tbody-scroll {
        width: 87%;
    }
    tr.inline-table {
        width: 100%;
        display: table-row;
        table-layout: unset;
    }
    tbody.tbody-scroll {
        position: unset;
    }
    .box-market, .box-info {
        width: 100%;
        float: none !important;
    }
    .w180-mb{
        width: 180% !important;
    }
    .w250-mb{
        width: 250% !important;
    }
    .w130-mb{
        width: 130% !important;
    }
    a.btn-add {
        background: url(../images/add.png) no-repeat 35% 6px;
        margin-top: 1.5%;
        padding-left: 45%;
    }
    .box-footer-1 {
        padding-top: 0;
    }
    .box-footer-3 {
        margin-top: 35px;
    }
}
.row-withdraw{
    width: 100%;
    float: left;
    margin-bottom: 0px;
    margin-top: 10px;
}
.label-withdraw{
    display: inline-block;
    width: 20%;
    float: left;
    margin-top: 8px;
    color: white;
    font-size: 15px;
}
.value-withdraw{
    width: 70%;
    float: right;
    position: relative;
    margin-right: 20px;
}

.tf-tree .tf-nc:after, .tf-tree .tf-nc:before, .tf-tree .tf-node-content:after, .tf-tree .tf-node-content:before {
    border-left: .08em solid #00688B;
}
.tf-tree li li:before {
    border-top: .08em solid #00688B;
}
.tf-tree .tf-nc, .tf-tree .tf-node-content {
    border: none;
    padding: .5em 2em;
}
.c-white{
    color: white;
}
#wrapper .tf-tree{
    overflow:unset;
}
.title-organ{
    color: white;
    margin-bottom: -10px;
}
.fl-vb{
    display: flex;
}
.phase-2{
    padding-top: 20px;
}
.wcenter{
    text-align: center;
}